footer {
  background: #f1f1f1;
  border-top: 5px solid rgba(255,255,255,.85);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  padding-top: 60px;

  .copyright {
    display: flex;
    background: rgba(0,0,0,.05);
    padding: 20px 60px;
    margin-top: 25px;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    color: #989898;

    .left {
      font-weight: bold;
      font-family: monospace;
      flex:1;
      line-height: 2;
    }
    .right {
      flex: 1;
      text-align: right;
    }
  }

  hr {
    border-top: 1px solid #D0D0D0 $imp;
  }

  h3 {
    margin-top: 0 $imp;
  }
}
