body.word {

  .page-content {
    background:url(../images/rounded-shadow.png) center 0 no-repeat, url(../images/rounded-shadow-reversed.png) center bottom no-repeat, linear-gradient(135deg, #d7d7d7 0%,#f5f5f5 100%);
    padding: 70px 0;
    margin-top: 25px;

    .word {
      font-size: 45px;
      font-family: serif;
      font-weight: bold;
      background: rgba(0,0,0,.1);
      border-radius: 5px;
      padding: 5px 10px;
    }

    .pronunciation {
      font-size: 20px;
      margin-left: 20px;
      vertical-align: 7px;
      color: #999;
    }

    .definition {
      margin-top: 30px;

      li {
        margin-bottom: 10px;
      }

      .definition-class {
        font-size: 70%;
        color: #999;
        margin-right: 5px;
        vertical-align: 2px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .synonyms {

      ul {
        li {
          text-transform: capitalize;
        }
      }
    }

    .section-title {
      font-family: monospace;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 120%;
    }
  }
}
