<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  <script src="{{ page.root_path }}bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ page.root_path }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ page.root_path }}js/scripts.js"></script>
  </body>

</html>
