<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ page.root_path }}css/main.css">
  <link rel="stylesheet" href="{{ page.root_path }}bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>


  <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>

    <div class="container navigation">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">{{ site.title }}</a>
          </div>
            {% include navbar-links.html %}
        </div><!-- /.container-fluid -->
      </nav>
    </div>


    <div class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script src="{{ page.root_path }}bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ page.root_path }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ page.root_path }}js/scripts.js"></script>
  </body>

</html>
