---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/*!

  _             _                        _            _____                           _                       ________
 | |           | |                      (_)          / ____|                         (_)                     /  ____  \
 | |     _   _ | |__    ___   _ __ ___   _  _ __    | |  __   ___   ___   _ __  __ _  _   ___ __   __       /  / ___|  \
 | |    | | | || '_ \  / _ \ | '_ ` _ \ | || '__|   | | |_ | / _ \ / _ \ | '__|/ _` || | / _ \\ \ / /       |  | |       |
 | |____| |_| || |_) || (_) || | | | | || || |      | |__| ||  __/| (_) || |  | (_| || ||  __/ \ V /       |  | |___    |
 |______|\__,_||_.__/  \___/ |_| |_| |_||_||_|       \_____| \___| \___/ |_|   \__, ||_| \___|  \_/         \  \____|  /
                                                                                __/ |                        \________/
                                                                               |___/

  Title: {{ site.title }}
  URI: {{ site.project_url }}
  Description: {{ site.description }}
  Version: {{ site.version }}
  Author: {{ site.author }}
  Author's email: {{ site.email }}
  Author's URI: http://lubomirgeorgiev.com

  License: MIT
  License URI: http://opensource.org/licenses/mit-license.php
*/

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base/variables.scss",
        "base/base.scss",
        "components/footer.scss",
        "pages/homepage.scss",
        "pages/words.scss",
        "pages/list.scss",
        "base/syntax-highlighting.scss"
;
