---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base/variables.scss",
        "base/base.scss",
        "pages/homepage.scss",
        "pages/words.scss",
        "base/syntax-highlighting.scss"
;
